<div>
  <!-- CABEÇALHO -->
  <div>
    <h1>Meu Perfil</h1>
    <span>Gerencie seus dados de acesso e credenciais de segurança no SIGEA-GTT</span>
  </div>

  @if (mensagemErro()) {
    <p-message severity="error" [text]="mensagemErro()!" />
  }

  <div>
    <!-- COLUNA DA ESQUERDA: DADOS INSTITUCIONAIS -->
    <p-card header="Dados Institucionais">
      <div>
        <div>
          <h2>
            {{ usuario()?.nomeCompleto }}
          </h2>
          <span>[{{ usuario()?.perfil }}]</span>
        </div>
      </div>

      <div>
        <span>E-mail Institucional:</span>
        <span>{{ usuario()?.email }}</span>
      </div>

      @if (usuario()?.matriculaSigaa) {
        <div>
          <span>Matrícula SIGAA:</span>
          <span
            ><code>{{ usuario()?.matriculaSigaa }}</code></span
          >
        </div>
      }

      <div>
        <span>Status da Conta:</span>
        <span>CONTA ATIVA NO SIGEA-GTT</span>
      </div>

      <div>
        Seus dados cadastrais institucionais são gerenciados pela administração do sistema e
        integrados à Universidade Federal de Sergipe (UFS).
      </div>
    </p-card>

    <!-- COLUNA DA DIREITA: ALTERAR SENHA -->
    <p-card header="Segurança & Alteração de Senha">
      <p>
        Para garantir a segurança de seus acessos e auditorias clínicas, escolha uma senha forte com
        no mínimo 6 caracteres.
      </p>

      <form (ngSubmit)="salvarNovaSenha()">
        <div>
          <label for="senhaAtual">Senha Atual *</label>
          <p-password
            id="senhaAtual"
            [(ngModel)]="formularioSenha.senhaAtual"
            name="senhaAtual"
            [feedback]="false"
            [toggleMask]="true"
            required
            placeholder="Digite sua senha atual"
          />
        </div>

        <div>
          <div>
            <label for="novaSenha">Nova Senha *</label>
            <p-password
              id="novaSenha"
              [(ngModel)]="formularioSenha.novaSenha"
              name="novaSenha"
              [feedback]="true"
              [toggleMask]="true"
              required
              minlength="6"
              placeholder="Mínimo 6 caracteres"
            />
          </div>

          <div>
            <label for="confirmacaoNovaSenha">Confirmar Nova Senha *</label>
            <p-password
              id="confirmacaoNovaSenha"
              [(ngModel)]="formularioSenha.confirmacaoNovaSenha"
              name="confirmacaoNovaSenha"
              [feedback]="false"
              [toggleMask]="true"
              required
              minlength="6"
              placeholder="Repita a nova senha"
            />
          </div>
        </div>

        <div>
          <button
            pButton
            type="submit"
            label="ATUALIZAR SENHA"
            [loading]="alterandoSenha()"
          ></button>
        </div>
      </form>
    </p-card>
  </div>
</div>
