<div>
  <!-- CABEÇALHO -->
  <div>
    <div>
      <h1>{{ tituloPagina() }}</h1>
      <span>{{ subtituloPagina() }}</span>
    </div>
    <button
      pButton
      type="button"
      label="VOLTAR PARA UNIDADES"
      [outlined]="true"
      severity="secondary"
      (click)="voltarParaListagem()"
    ></button>
  </div>

  @if (mensagemErro()) {
    <p-message severity="error" [text]="mensagemErro()!" />
  }

  <p-card>
    <form (ngSubmit)="salvar()">
      <div>
        <!-- SIGLA -->
        <div>
          <label for="sigla">Sigla da Unidade *</label>
          <input
            pInputText
            id="sigla"
            type="text"
            [(ngModel)]="formulario.sigla"
            name="sigla"
            required
            maxlength="20"
            placeholder="Ex.: CINF, UTI-GERAL"
          />
          <span>Abreviação institucional no HU-UFS.</span>
        </div>

        <!-- NOME DA UNIDADE -->
        <div>
          <label for="nome">Nome Completo da Unidade Hospitalar *</label>
          <input
            pInputText
            id="nome"
            type="text"
            [(ngModel)]="formulario.nome"
            name="nome"
            required
            maxlength="100"
            placeholder="Ex.: Clínica de Doenças Infectocontagiosas"
          />
          <span>Nome oficial do setor ou enfermaria hospitalar.</span>
        </div>
      </div>

      <!-- BOTÕES DE AÇÃO -->
      <div>
        <button
          pButton
          type="button"
          label="Cancelar"
          severity="secondary"
          [text]="true"
          (click)="voltarParaListagem()"
        ></button>
        <button pButton type="submit" label="Salvar Unidade" [loading]="salvando()"></button>
      </div>
    </form>
  </p-card>
</div>
