:host {
  display: block;
}

:host * {
  border-radius: 0 !important;
}

:host ::ng-deep {
  .p-inputtext,
  .p-textarea,
  .p-select,
  .p-inputnumber,
  .p-inputnumber-input {
    border-radius: 0 !important;
  }
}
